<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514028965801-0amvs91t4th94ec1gpiakfseqv4qg4gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514028965801-0amvs91t4th94ec1gpiakfseqv4qg4gh</string>
	<key>API_KEY</key>
	<string>AIzaSyBYeq-BWqfEPbE67QoUXFYNd6EfdHT0I_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>514028965801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiosilence.Swatch</string>
	<key>PROJECT_ID</key>
	<string>swatch-this</string>
	<key>STORAGE_BUCKET</key>
	<string>swatch-this.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514028965801:ios:9c3dc16edff4433876beb8</string>
</dict>
</plist>